body {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    font-family: Verdana;
    text-align: center;
    background-color:#0a0;
}

#game {
    
    display: inline-block;
    margin: 0 auto;
    padding: 1em;
    text-align: center; 
}

#statusDisplay {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}


.handCard {
    width: 8em;
    height: 13em;
    background-color: #ccc;
    float: left;
    border: 0.5em #fff solid;
}

.handCardSuit {
    font-size: 8em;
    height: 1em;
    margin: auto;
    width: 1em;
}

.handCardSpacer {
    width: 1em;
    height: 1em;
    float: left;
    visibility: hidden;
}

#bottom {
    clear: both;
}

#displays {
    clear: both;
}


#moneyDisplay {
    float: left;
    font-size: 2em;
    width: 15em;
    text-align: left;
    padding: 0.5em 0 0 0;
    margin: auto auto 0 0;
}

#wagerDisplay {
    font-size: 2em;
    text-align: left;
    padding: 0.5em 0 0 0;
}

/*#wagerButtons {
    float: right;
}*/

#buttons {
    clear: both;
    padding-top: 1em;
}

#dealButton {    
    background: #f00;
    height: 1.5em;
    width: 8em;
    font-size: 3em;
    float: left;
    margin-right: 2em;
}

#wagerButtonUp {
    background-color: #00f;
    height: 1.5em;
    width: 1.5em;
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    float: left;
    margin-right: 1em;
}

#wagerButtonDown {
    background-color: #00a;
    height: 1.5em;
    width: 1.5em;
    font-size: 3em;
    font-weight: bold;
    float: left;
    color: #fff;
}




